<template>
  <div>
    <h2>Home</h2>
    <b-form inline class="mb-5">
      <label class="mb-2">
        New num :
        <b-form-input type="number" v-model.number="val" class="mx-2"/>
        ( En jaune si non enregisté en bdd)
      </label>
      <b-input-group v-for="text in ['Local', 'Back']" :key="text" class="mb-2">
        <b-button variant="primary" @click="add_num(text === 'Back')">Add in {{text}}</b-button>
        <b-button variant="primary" @click="sum_nums(text === 'Back')" class="mx-2">Sum with {{text}} value</b-button>
        <b-button variant="danger" @click="clear_nums(text === 'Back')">Clear all {{text}}</b-button>
      </b-input-group>
      <b-input-group>
        <b-button variant="success" @click="save_nums">Save Local in Back</b-button>
        <b-button variant="warning" @click="fetch_num" class="ml-2">Update Local</b-button>
      </b-input-group>
    </b-form>
    <p>
      List la colone 'num' de la table 'table', modifiable sans authentification
      <sum-filed filed="num"/>
    </p>
    <p>
      List la colone 'num_back' de la table 'table', modifiable <strong>seulement si</strong> authentifier
      (Modification dans le back blocker en local rien)
      <sum-filed filed="num_back"/>
    </p>
    <p>
      <b-icon-exclamation-triangle-fill></b-icon-exclamation-triangle-fill>
      Chaque bouton ne réalise qu'une seul action.<br/>
      La suppression des 'num' en Back nécessite une authentification.<br/>
      Ces compraintes sont arbitraire et peuvent être modifier simplement
    </p>
  </div>
</template>

<script>
  import {CLEAR_NUMS, FETCH_NUMS, POST_NUMS, ADD_NUM, SUM_NUMS} from '@/store/actions.type'

  export default {
    name: 'Home',
    data() {
      return {
        val: 0,
        submitted: false,
      }
    },
    components: {
      SumFiled: () => import('@/components/SumFiled'),
    },
    created() {
      this.fetch_num();
    },
    methods: {
      save_nums() {
        this.$store.dispatch(POST_NUMS);
      },
      fetch_num() {
        this.$store.dispatch(FETCH_NUMS);
      },
      add_num(back) {
        this.$store.dispatch(ADD_NUM, {val: this.val, back});
      },
      sum_nums(back) {
        this.$store.dispatch(SUM_NUMS, back);
      },
      clear_nums(back) {
        this.$store.dispatch(CLEAR_NUMS, back);
      },
    }
  };
</script>
