<template>
  <b-nav tabs justified>
    <b-nav-item
      v-for="(path, idx) in paths" :key="idx"
      :to="path.to"
      :active="path.to === $route.path"
    >
      {{ path.text }}
    </b-nav-item>
  </b-nav>
</template>

<script>
  import {mapGetters} from "vuex";

  export default {
    name: 'Nav',
    computed: {
      ...mapGetters([
        'auth',
      ]),
      paths() {
        return [
          {to: '/', text: 'Home'},
          {to: '/login', text: this.auth ? 'Logout' : 'Login'},
        ]
      },
    },
  }
</script>
