<template>
  <div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <custom-nav/>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <router-view/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: "App",
    components: {
      CustomNav: () => import('@/components/Nav'),
    },
  };
</script>
